:root {
    height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background: no-repeat url("https://lh3.googleusercontent.com/mIDX9DHRDFU11py5j4kh0FHuR2Xw3Z2KVDb2nw8gycsWIu7Q05iz3Lyua8pkgJz9nDYicMv1Jo9gMoszbJia7w=w16383")